
<p>
  <table> 
  <tr><td> View string </td><td>
  <%= text_field_tag('settings[mlist_view_string]', @settings['mlist_view_string'])%>
  </td></tr>
  <tr><td> Addrss </td><td>
  <%= text_field_tag('settings[mlist_address]', @settings['mlist_address'], :size => 80)%>
  </td></tr>
  </table>
</p>
