
<% content_for :sidebar do %>
  <h3><%=l(:label_admin_reports)%></h3>
  <div id="admin-menu">
    <ul>
      %= render_menu :admin_reports_menu %
    </ul>
  </div>

  <% if User.current.admin? %>
    <h3><%=l(:label_administration)%></h3>
    <%= render :partial => 'admin/menu' %>
  <% end %>
<% end %>

<%= render :file => "layouts/base" %>
