<h2><%=l(:label_foos_new)%></h2>

<% labelled_tabular_form_for :foo, @foo,
                             {:html => {:multipart => true, :id => 'foo-form'}} do |f| %>
    <%= render :partial => 'foos/form', :locals => {:form => f} %>
    <%= f.submit l(:button_create) %>
    <%= link_to_remote l(:label_preview), 
                       { :url => {:action => 'preview', :project_id => @project },
                         :method => 'post',
                         :update => 'preview',
                         :with => "Form.serialize('foo-form')",
                         :complete => "Element.scrollTo('preview')"
                       }, :accesskey => accesskey(:preview) %>
<% end %>
<div id="preview" class="wiki"></div>
